

.nevigation {
    background-color: #333; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
.logo{
    text-decoration: none;
}
  
  .head p {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin: 0;
  }
 
  .search form {
    display: flex;
    align-items: center;
  }
  
  .mainsearch {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .mainsearch:focus {
    outline: none;
  }
  
  .search button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .link ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .link li {
    margin-right: 20px;
  }
  
  .link a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .link a:hover {
    color: #007bff;
  }
  .logout{
    background-color:  #007bff;
    border-radius: 5px;
    border: none;
  }