.footer {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-top: 10px;
  }
  
  .box1,
  .box2,
  .box3 {
    flex: 1;
    padding: 10px;
  }
  
  .box1 span,
  .box2 span,
  .box3 span {
    font-weight: bold;

  }
  
  .link {
    list-style-type: none;
    padding: 0;
  }
  
  .link li {
    margin-bottom: 5px;
    
  }
  
  .link a {
    color: #fff;
    text-decoration: none;
  }
  
  .foot {
    text-align: center;
    padding: 10px 0;
    background-color: #444;
    color: #fff;
  }
  