.photo {
    background-image: url('https://images.pexels.com/photos/1153838/pexels-photo-1153838.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .photo p{
    font-size: 50px;
    color: white;
    
}
  
  .left {
    text-align: center;
  }
  
  /* Card styles */
  .data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: calc(25% - 20px);
  }

  .shop-button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    margin-right: 10px; /* Add margin to separate buttons */
  }
  
  .shop-button:hover {
    background-color: #2980b9;
  }